@media (min-width: 360px)
{
    header
    {
        grid-template-columns: repeat(20,1fr);
        grid-template-rows: repeat(2,1fr);
        .logo
        {
        grid-column: 5/17;
        grid-row: 1/1;
        }
        .number-page
        {
            grid-column: 5/17;

        }
    }
   
}